html, body{
    margin: 0;
    height: 100%;

}

body{
    background: #f5f5f5;
    font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

.container{
    display: flex;
    flex-direction: column;

}

.todo-header{
    flex: 0 1 10rem;
    box-sizing: border-box;
    margin: auto;
    padding-top: 2rem;
    color: rgba(175, 47, 47, 0.15);
    font-size: 40px;

}

.input-section{
    flex: 1 1 auto;
    display: flex;
    justify-content: center;

}

.input-wrap{
    flex: 0 1 auto;
    box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.1),
                0 1px 2px 0 rgba(0, 0, 0, 0.1);
    position: relative;


}

.input-change{
    width: 34.5rem;
    height: 4rem;
    box-sizing: border-box;
    padding: 16px 16px 16px 70px;
    outline: none;
    font-size: 30px;
    border: none;

}

.input-change::placeholder{
    font-style: italic;
}


.footer-im{
    flex: 0 0 10rem;

}

.liStyle {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    border-top: 1px solid #ededed;

}

.check-all-label:before{
    content: ">";
    position: absolute;
    top: 16px;
    left: 25px;
    font-size: 30px;
    transform: rotateZ(90deg);


}

.check-all-input{
    position: absolute;
    display: none;

}

.liStyle li {
    box-sizing: border-box;
    min-height: 3.6rem;
    width: 34.5rem;
    background: white;
    border-bottom: 1px solid #ededed;
}

.li-input-text{
    width: 100%;
    box-sizing: border-box;
    line-height: 3.6rem;
    font-size: 2rem;
    outline: none;
    margin: 0;
    border: 1px solid #999;
    box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
    display:none;

}

.view:hover > button {
    display: block;

}

.view{
    position: relative;

}


.li-input{
    box-sizing: border-box;
    opacity: 0;
    position: absolute;
    width: 4rem;
    height: 3.6rem;
    margin: 0;
    top: calc(100%/2 - 1.8rem);
    outline: none;

}

.li-input:checked + .label-change {
    text-decoration: line-through;
    color: #d9d9d9;
    background-image:  url("./1.svg");

}

.label-change {
    margin-left: 0.5rem;
    background-image:  url("./0.svg");
    background-repeat: no-repeat;
    background-position: center left;
    min-height: 3.6rem;
    width: 34rem;
    display: block;
    box-sizing: border-box;
    padding: 0.6rem 2rem 0.6rem 60px;
    word-break: break-all;
}

.destory{
    box-sizing: border-box;
    outline: none;
    border: none;
    position: absolute;
    font-size: 20px;
    right: 2rem;
    bottom: 1rem;
    display: none;

}

.destory:before{
    content: 'X';

}

.button-section{
    display: flex;
    width: 34.5rem;
    height: 2.8rem;
    box-sizing: border-box;
    background: white;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    color: #777;
    font-size: 14px;
    position: relative;

}

.button-section:after{
    content: '';
    width: 34.5rem;
    height: 2.8rem;
    background: goldenrod;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    box-shadow:
            0 1px 1px rgba(0, 0, 0, 0.2),
            0 8px 0 -3px #f6f6f6,
            0 9px 1px -3px rgba(0, 0, 0, 0.2),
            0 16px 0 -6px #f6f6f6,
            0 17px 2px -6px rgba(0, 0, 0, 0.2);


}


.click-button{
    list-style-type: none;
    padding: 0 0 0 1rem;
    margin: 0;
    display: flex;
    width: 15rem;
    justify-content: space-around;


}

.click-button li{
    display: inline-block;
    box-sizing: border-box;
    padding: 4px;
    border: 1px solid rgba(175, 47, 47, 0.2);
    border-radius: 3px;
    cursor: pointer;

}

.clear-button{
    border: none;
    outline: none;
    padding: 0;
    color: #777;
    font-size: 14px;

}

.clear-button:hover{
    text-decoration: underline;
    cursor: pointer;
}

.li-input-text-db {
    display: none;

}
.li-input-text-db-block{
    display: block;
}